@charset "tuf-8";

#main_footer {
  width: 1024px;
  height: 70px;
  border-top: 5px solid rgba(160, 158, 158, 0.5);
  border-bottom: 5px solid rgba(160, 158, 158, 0.5);
  padding: 80px 0;
  margin: 50px auto;
  position: relative;
  animation: con_move 1.8s ease-out 4s 1 forwards;
  background: url(../images/logo_shadow_adobe_express.png) 
  no-repeat top right 7px/contain rgba(160, 158, 158, 0.5);
  border-radius: 10px;
}
#main_footer > img {
  float: left;
  margin:0 5px;
}
#main_footer > address {
  float: left;
  font-size: 14px;
  font-style: normal;
}
#main_footer > address a {
  border-right: 1px solid #606064;
  padding: 10px;
}
#main_footer > address a:last-child {
  border: none;
}
#main_footer > address > img {
  clear: both;
  float: right;
}