@charset "utf-8";


@keyframes logo_stop {
	0% {
		opacity: 0.05;
	}
	50% {
		opacity: 0.045;
	}
	100% {
		opacity: 0.05;
	}
}

@keyframes menu_shadow {
	from {
		transform: perspective(22px) rotate3d(0.5, 0, 0.012, 222deg);
	}
	to {
		transform: perspective(15px) rotate3d(0.7, -0.02, 0.015, 222deg);
	}
}

/***** top_all(size) *****/

#top_wrap {
	width: 1024px;
	height: 180px;
	margin: 20px auto;
	min-width: 1024px;
}
#top_bar {
	width: 1024px;
	height: 180px;
	position: relative;
}
/***** logo, login *****/
#login_bar {
	width: 1024px;
	height: 80px;
	min-width: 1024px;
}

/****************************************************************/

#top_bar_back {
	position: absolute;
  top: -15px;
  left: 0;
	width: 100%;
  height: 100%;
	border-radius: 10px;
	z-index: -1;
}

/*** top_logo(main) ***/
#logo > h1 {
	float: left;
	width: 255px;
	height: 80px;
	background-color: transparent;
	color: #59595a;
	font-size: 45px;
}
#logo > h1 > a {
	cursor: default;
	opacity: 0.7;
	line-height: 60px;
	color: #bbb;
	position: relative;
}
#logo > h1 > a > video {
	float: left;
	width: 100px;
	height: 60px;
	margin-top: 2px;
	border-radius: 28%;
	clip-path: circle(29.5%);
	position: relative;
	left: 20px;
	filter: grayscale(80%);
}
#logo > h1:hover a {
	text-shadow: 1px 1px #75757c, 
	2px 2px #75757c, 
	3px 3px 3px #75757c, 
	-3px -3px 3px #75757c;
}
#logo > h1:hover a::selection {
	background-color: rgba(0, 0, 0, 0.178);
	color:aliceblue;
}

/*** top_login(main) ***/
#login {
	float: right;
	width: 500px;
	height: 40px;
	line-height: 40px;
	position: relative;
	z-index: 5;
}
#login label {
	font-size: 16px;
	letter-spacing: 1px;
	float: left;
	font-weight: bold;
}
#login label:nth-of-type(1) {
	margin-left: 10px;
}
#login label:nth-of-type(2) {
	margin-left: 20px;
}

#login label:nth-of-type(1)::selection,
#login label:nth-of-type(2)::selection {
	color:aliceblue;
} 

#login input {
	float: left;
	margin: 5px 0 0 10px;
	outline: none;
}
#login input:nth-of-type(1),
#login input:nth-of-type(2) {
	width: 120px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-indent: 5px;
}
#login input:nth-of-type(1):focus,
#login input:nth-of-type(2):focus {
	box-shadow: inset 1px 1px 1px #75757c, 2px 2px 1px #75757c;
}

#login input:nth-of-type(1)::selection,
#login input:nth-of-type(2)::selection {
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.918);
	color: thistle;
} 

#login input:nth-of-type(3) {
	width: 70px;
	height: 30px;
	background-color: #eaeaea;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}
#login input:nth-of-type(4) {
	clear: both;
	float: right;
	width: 150px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 3px 10px 0 0;
	cursor: pointer;
}
#login input:nth-of-type(3):hover,
#login input:nth-of-type(4):hover {
	background-color: #75757c;
	border: 1px outset #75757c;
	box-shadow: 1px 1px 1px 1px #75757c57, 2px 2px 2px #75757c57;
	color: #ccc;
	font-weight: bold;
	position: relative;
	bottom: 2px;
}

#logo2_film {
	position: absolute;
	width: 205px;
	height: 220px;
	bottom: 0;
	right: 8px;
	
	opacity: 0.05;
	margin-top: 70px;
	animation: logo_stop 0.5s ease 3s 3 normal forwards;
}
#logo2_film video {
	float: right;
	width: 200px;
	height: 220px;
	z-index: 2;
	clip-path: ellipse(100px 100px at 50% 50%);
	margin-top: 45px;
}

/****************************************************************/

/***** navigation *****/
#top_navi {
	width: 1024px;
	height: 100px;
	margin-top: 10px;
	line-height: 100px;
}
#top_navi ul {
	width: 800px;
	height: 60px;
	margin: 0 auto;
	line-height: normal;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
#top_navi ul li {
	display: inline-block;
	height: 60px;
	color: #ccc;
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 30px;
	padding-right: 10px;
}
#top_navi ul li:nth-child(1) {
	width: 60px;
}
#top_navi ul li:nth-child(2) {
	width: 100px;
}
#top_navi ul li:nth-child(3) {
	width: 60px;
}
#top_navi ul li:nth-child(4) {
	width: 60px;
}
#top_navi ul li:nth-child(5) {
	width: 142px;
	text-indent: -1px;
	border: none;
	margin-left: 5px;
}

#top_navi ul li a {
	display: inline-block;
	height: 60px;
	color: rgba(9, 3, 14, 0.664);
	padding-top: 5px;
	line-height: 30px;
	transition: all 0.7s 10ms;
	-webkit-transition: all 0.7s 10ms;
}

#top_navi ul li a span {
	display: block;
	color: #75757c57;
	text-shadow: 1px 1px 1px #65656857, 2px 2px 1px #65656857, -1px -1px 1px #65656857;
	letter-spacing: 2px;
	margin-left: -5px;
	opacity: 0;
	transform: rotateX(222deg);
	user-select: none;
	-webkit-user-select: none;
}
#top_navi ul li:hover a {
	color: #c0c0c0;
}
#top_navi ul li:hover a span {
	display: block;
	overflow: visible;
	animation: menu_shadow 0.4s ease-out 0.5ms 1 forwards;
	opacity: 1;
	letter-spacing: -0.02px;
}
#top_navi ul li:nth-child(2):hover a span,
#top_navi ul li:nth-child(5):hover a span {
	letter-spacing: -0.05px;
}